DEBUG=True
SECRET_KEY=replace-me
ALLOWED_HOSTS=localhost,127.0.0.1
FRONTEND_URL=http://localhost:5173
TIME_ZONE=Africa/Addis_Ababa

DB_ENGINE=sqlite
DB_NAME=db.sqlite3
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
